In [1]:
import pandas as pd

df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],['r0','r1','r2'],['c0','c1','c2'])

In [2]:
df

    c0  c1  c2
r0   1   2   3
r1   4   5   6
r2   7   8   9

In [3]:
df[['c0', 'c1']]   # This we have seen already

    c0  c1
r0   1   2
r1   4   5
r2   7   8

## Indexers loc and iloc

* loc operates with index labels
* iloc operates with index numeric numbers

#### Case Loc

In [4]:
df.loc[['r0','r2'],['c0','c2']]                   # Rows first then columns

    c0  c2
r0   1   3
r2   7   9

In [5]:
df.loc[['r0','r2'],:]

    c0  c1  c2
r0   1   2   3
r2   7   8   9

In [6]:
df.loc[:,['c0','c2']]

    c0  c2
r0   1   3
r1   4   6
r2   7   9

#### Case iloc

In [7]:
df.iloc[[0,2],[0,2]]
# df.iloc[[0,2],['c0', 'c2']] => Does not work, requires numerical index also for columns!

    c0  c2
r0   1   3
r2   7   9

In [8]:
df.iloc[[0,2],:]

    c0  c1  c2
r0   1   2   3
r2   7   8   9

In [ ]:
df.iloc[:,[0,2]]

In [ ]:
df.iloc[:,[0,2]]=1

In [ ]:
df

In [ ]:
#df['c3'] = df['c1'] + df['c2']

In [ ]:
#df

## Selecting/Filtering

In [ ]:
B=pd.Series([False,True, True], dtype='bool')

In [ ]:
B

In [ ]:
B.values

In [ ]:
df[B.values]

In [ ]:
B2=[False,True, True]

In [ ]:
df[B2]

In [ ]:
df=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],['r0','r1','r2'],['c0','c1','c2'])

In [ ]:
df

In [ ]:
df['c0']>3

In [ ]:
type(df['c0']>3)

In [ ]:
df[df['c0']>3]

In [ ]:
df.loc[df['c0']>3,'c0']

In [ ]:
df.iloc[(df['c0']>3).values,0]